body{
  background: red
    url("../src/assets/129177850_503303760560488_7379409967702803208_n.png");
  position: absolute;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
